include text/overview-text
-
	var $modules = [
			{
				attributes: { "data-page": "front"}
			},
			{
				attributes: { "data-page": "map"}
			}
		],
		$infoContainers = [
			{
				attributes: { "href": "https://www.wikipedia.org/"}
			},
			{
				attributes: { "href": "https://www.wikipedia.org/"}
			},
			{
				attributes: { "href": "https://www.wikipedia.org/"}
			},
			{
				attributes: { "href": "https://www.wikipedia.org/"}
			}
		];

mixin addModule($content, $attr)
	div&attributes($attr)
		h1 !{$content.header}
		p !{$content.text}

mixin addInfo($content, $attr)
	div
		.info
			h2 !{$content.header}
			p !{$content.text}
			a.button-with-circle&attributes($attr)
				.circle.arrow
				p !{more_button}

article#overview.page
	.content-wrapper
		.modules-container
			each $module, index in text.modules
				+addModule($module, $modules[index].attributes)
		.info-container
			each $infoContainer, index in text.info
				+addInfo($infoContainer, $infoContainers[index].attributes)